body,html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	
}

.tbody {
	display: flex;
	flex-direction: column;
}

.trow {
	display: flex;
	flex-direction: row;
}

.nav_container {
	width: 100%;
	height: 8vh;
	background-color: #dadce0;
	padding: 4px;
}

.navcell {
	color: #444444;
	text-align: center;
	font-family: calibri;
	font-size: 24px;
	cursor: pointer;
	vertical-align: center;
	top:1px;
	min-width: 15%;
}